ul.messages{
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

ul.messages>li{
    display: flex;
    width: auto;
    max-width: 80%;
    height: auto;
    margin-bottom: 10px;
}

ul.messages>li>img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

ul.messages>li>p{
    padding: 10px;
    border-radius: 0 50px 50px 50px;
    max-width: 80%;
    word-wrap: break-word;
}

ul.messages>li.sender{
    justify-content: flex-end;
}

/* ul.messages>li.sender>img{
    margin-right: 10px;
} */

ul.messages>li.receiver{
    justify-content: flex-start;
}

ul.messages>li.sender>p{
    background: rgb(153, 153, 243);
}

/* ul.messages>li.receiver>img{
    margin-left: 10px;
} */