.header-content{
    width: 100%;
    height: 13%;
    border-bottom: 1px solid rgb(211, 202, 202);
}

.input-group-header{
    width: 100%;
    height: 30%;
    border: 1px solid rgb(177, 166, 166);
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    background: var(--background);
    margin-top: 10px;
}

.input-group-header>span{
    width: 30px;
    height: 100%;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(240, 187, 187);
}

.input-group-header>input{
    width: calc(100% - 30px);
    height: 100%;
    outline: none;
    border: none;
    background: none;
    padding: 3px;
}