.room-list{
    width: 100%;
    height: 100%;
    padding: 5px;
}

.room-list details{
    width: 100%;
    height: auto;
    cursor: pointer;
}

details summary{
    width: 100%;
    user-select: none;
}

details .room{
    width: 100%;
    height: 35px;
    background: rgb(196, 178, 178);
    padding: 3px 0;
}

details .room:not(details .room:first-child){
    margin-top: 5px;
}

details .room>.info{
    width: 100%;
}