.room-list{
    width: 100%;
    height: 100%;
    padding: 5px;
}

.room-list ul{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 3px 0;
}

.room-list ul li{
    width: 100%;
    height: 45px;
    padding: 3px;
    border-radius: 5px;
}

.room-list ul li:not(.room-list ul li:first-child){
    margin-top: 10px;
}

.room-list ul li a.room{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.room-list ul li a.room .info{
    width: 100%;
}

.room-list ul li:hover{
    background: rgba(193, 188, 188, 0.5);
}