.chat-container{
    width: calc(100% - (28% + 10px));
    height: var(--height);
    border-radius: 10px;
    background: white;
}

.chat-container .chat-window-content{
    width: 100%;
    height: 100%;
}

.chat-container .no-chat{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

@media (max-width: 1024px){
    .chat-container{
        width: calc(100% - (38% + 28px));
    }
}

@media (max-width: 576px){
    .chat-container{
        width: 100%;
    }
}