.chat-window{
    width: 100%;
    height: calc(100% - 17%);
    border-bottom: 1px solid rgb(179, 174, 174);
    overflow-y: auto;
    scroll-behavior: smooth;
}

.chat-window ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.chat-window ul li{
    width: 100%;
    display: flex;
}

.chat-window ul li + li{
    margin-top: 10px;
}

.chat-window ul li.sender,
.chat-window ul li.receiver{
    margin-bottom: 10px;
}

.chat-window ul li.sender{
    justify-content: flex-end;
}

.chat-window ul li.receiver{
    justify-content: flex-start;
}

.chat-window ul li.sender .chat{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.chat-window ul li.receiver .chat{
    width: 100%;
    display: flex;
}

.chat-window ul li .chat img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: transform 0.2s ease-in-out;
}

.chat-window ul li .chat img:hover{
    transform: scale(1.1);
}

.chat-window ul li .chat .info{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.chat-window ul li.sender .chat .info{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

.chat-window ul li.sender .chat .info p{
    text-align: left !important;
}

.chat-window ul li .chat .info p{
    width: max-content;
    max-width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding: 6px;
    color: white;
}

.chat-window .sender .info p{
    background: rgb(76, 76, 158);
    border-radius: 5px 0 5px 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.chat-window .receiver .info p{
    background: rgb(120, 120, 161);
    border-radius: 0 5px 5px 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.chat-window ul>li.new-chat{
    text-align: center;
}

@media (max-width: 768px){
    .chat-window ul li .chat .info p{
        max-width: 60%;
    }
}